includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    ignoreErrors:
        -
            message: '#Trait MaxieWright\\TrinidadAndTobagoAddresses\\Concerns\\HasAddresses is used zero times and is not analysed.#'
            path: src/Concerns/HasAddresses.php
