parameters:
	ignoreErrors:
		-
			message: '#^Property .full_location. does not exist in model\.$#'
			identifier: rules.modelAppends
			count: 1
			path: src/Models/City.php

		-
			message: '#^Property .island. does not exist in model\.$#'
			identifier: rules.modelAppends
			count: 1
			path: src/Models/City.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<static\(MaxieWright\\TrinidadAndTobagoAddresses\\Models\\City\)>\:\:hasCoordinates\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Models/City.php

		-
			message: '#^Property .full_name. does not exist in model\.$#'
			identifier: rules.modelAppends
			count: 1
			path: src/Models/Division.php

		-
			message: '#^Trait MaxieWright\\TrinidadAndTobagoAddresses\\Concerns\\HasTrinidadAndTobagoAddress is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/HasTrinidadAndTobagoAddress.php
